/target

src/main/webapp/WEB-INF/views/items.jsp
target/tit4tat-tacs-1.0-SNAPSHOT/WEB-INF/lib/tit4tat-tacs-1.0-SNAPSHOT.jar
target/tit4tat-tacs-1.0-SNAPSHOT/WEB-INF/lib/tit4tat-tacs-1.0-SNAPSHOT.jar
*.classpath
target/maven-archiver/pom.properties
target/maven-archiver/pom.properties
target/tit4tat-tacs-1.0-SNAPSHOT/WEB-INF/lib/tit4tat-tacs-1.0-SNAPSHOT.jar
target/tit4tat-tacs-1.0-SNAPSHOT/WEB-INF/web.xml
